.rest-title {
    text-align     : left;
    font-family    : 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.title-box {
    display       : flex;
    flex-direction: row;
}

.rest-container {
    border : 1px solid gray;
    padding: 0 3% 0 3%;
    margin : 0%;
    background-color: whitesmoke;
    border-radius: 1%;
}

.trash-icon {
    position: relative;
    left   : 99%;
    top     : 1%;
}
.icon-image{
    width: 200px;
    height: 200px;
    padding-right: 20px;
}